In [32]:
import pandas as pd
import numpy as np
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
new_data=pd.DataFrame(exam_data,index=[labels])
print(new_data.head(3))
r=new_data.drop(["d","h"])
print(r)
n=new_data.iloc[:, 2:4]
print(n)
l={'name' : ["Suesh"], 'score':[ 15.5], 'attempts': [1], 'qualify':["yes"]}
labels2=['k']
new_data_prime=pd.DataFrame(l,index=[labels2])
new_data_plus=new_data.append(new_data_prime,ignore_index=False)
print(new_data_plus)
m=new_data.drop(columns=['attempts'])
print(m)
p={'success':[]}
new_data_pro=pd.DataFrame(p)
new_data_promax=new_data.append(new_data_pro,ignore_index=False)
for value in exam_data['score']:
  if value>10 :
    p['success'].append(1)
  else:
    p['success'].append(0)
new_data_promax.success=p['success']
print(new_data_promax)
new_data_promax.to_csv('my_data.csv')
my_data=pd.read_csv('my_data.csv')

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
   attempts qualify
a         1     yes
b         3      no
c         2     yes
d         3      no
e         2      no
f         3     yes
g         1     yes
h         1      no
i         2      no
j         1     yes
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
k      Suesh   15.5         1     yes
        name  score qualify
a  Anastasia   12.5     yes
b       Dima    9.0      no
c  Katherine   16.5     yes
d      James    NaN      no
e      Emily    9.0      no
f    Michael   20.0     yes
g    Matthew   14.5     yes
h      Laura    NaN      no
i      Kevin    8.0      no
j      Jonas   19.0     yes
        name  score  attempts qualify  success
a  Anastasia   12.5       1.0     yes        1
b       Dima    9.0       3.0      no        0
c  Katherine   16.5       2.0     yes        1
d      James    NaN       3.0      no        0
e      Emily    9.0       2.0      no        0
f    Michael   20.0       3.0     yes        1
g    Matthew   14.5       1.0     yes        1
h      Laura    NaN       1.0      no        0
i      Kevin    8.0       2.0      no        0
j      Jonas   19.0       1.0     yes        1