In [2]:
n1=int(input("enter a number"))
n2=int(input("enter a number"))
n3=int(input("enter a number"))
n=[n1,n2,n3]
def max(n):
    biggest_item = n[0]
    for item in n:
        if item > biggest_item:
            biggest_item = item
    return biggest_item
print(n1)
print(n2)
print(n3)
x=max(n)
print("the highest number is:")
print(x)

enter a number99
enter a number66
enter a number55
99
66
55
the highest number is:
99

In [ ]:

def calculation(x,y):
  return (x+y),(x-y)
n1=int(input("enter a number "))
n2=int(input("enter a number "))
result=calculation(n1,n2)
print(result)

enter a number 5
enter a number 9
(14, -4)

In [ ]:
lst=[]
list1=[]
list2=[]
n=int(input("enter the number of elements:"))
for i in range(0,n):
  ele=int(input())
  lst.append(ele)
print(lst) 
def sum(lst):
  total=0
  for val in lst :
    total=total+val
  return total
def multiply(lst) :
	result = 1
	for x in lst:
		result = result * x
	return result
for i in range(len(lst)):
  if i%2==0:
    list1.append(lst[i])
  else:
    list2.append(lst[i])
x=sum(list1)
y=multiply(list2)
print(x)
print(y)

enter the number of elements:5
1
2
3
4
6
[1, 2, 3, 4, 6]
10
8

In [ ]:
words=str(input("write the words separated by a space"))
x=words.split()
print(x)
x.sort()
for str in x :
  print(str)

write the words separated by a space'ahmed', 'hedi', 'mouhamed', 'yassine'
["'ahmed',", "'hedi',", "'mouhamed',", "'yassine'"]
'ahmed',
'hedi',
'mouhamed',
'yassine'