In [ ]:
a=int(input("choissisez la taille "))
l=[]
g=1
for i in range (a):
  b=int(input("donnez un entier"))
  l.append(b)
for i in range (a):
  g=g*l[i]
print(g)

choissisez la taille 2
donnez un entier9
donnez un entier10
90

In [ ]:
def test(a) :
  return a[1]
list_1=[(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
list_1.sort(key=test)
print(list_1)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [ ]:
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
total_a=d1['a']+d2['a']
total_b=d1['b']+d2['b']
d3={'a':total_a,'b':total_b}
d2.update(d3)
d1.update(d2)

print(d1)

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

In [ ]:
n=int(input("choose a number "))
print(n)
d={}
g={}
for i in range (1,n+1):
  d= {i:i*i,}
  g.update(d)
print(g)

choose a number 3
3
{1: 1, 2: 4, 3: 9}

In [2]:
def test (a):
  return a [1]
list_1=[('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
list_1.sort(key=test,reverse=True)
print(list_1)

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]